# Comentario: Ignorar dependencias
node_modules/
dist/
__pycahe__
*.pyc
#biblioteca/
#Notas/
#sistema/

# Comentario: Ignorar variables de entorno
.env

# Comentario: Ignorar logs y archivos del sistema
*.log
.DS_Store
