{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.css' %}">
</head>

<body>
    <div class="container">
        <h1>Ejemplo de DataTables con Bootstrap</h1>
        <table id="example" class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Actions</th>
                    <th>Actions</th>
                    <th>Actions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                    <td>$320,800</td>
                    <td>$320,800</td>
                    <td>$320,800</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                    <td>$170,750</td>
                    <td>$170,750</td>
                    <td>$170,750</td>
                    <td>$170,750</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                    <td>$86,000</td>
                    <td>$86,000</td>
                    <td>$86,000</td>
                    <td>$86,000</td>
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
    </div>













    
    
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'js/dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'js/buttons.dataTables.js' %}"></script>
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/buttons.print.min.js' %}"></script>
    
    <script>
    let table = new DataTable('#example', {
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-copy"></i> Copiar', // Puedes usar HTML aquí
                        titleAttr: 'Copiar a portapapeles'
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Excel',
                        titleAttr: 'Exportar a Excel'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf"></i> PDF',
                        titleAttr: 'Exportar a PDF'
                    }
                ]
            }
        },
        language: {
            url: '//cdn.datatables.net/plug-ins/2.0.0/i18n/es-MX.json',              
        },    
    });
</script>

   
</body>

</html>